* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background:grey;
}

a {
  color:white;
}

.fade-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-container.fade-out {
  opacity: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: auto;
}

.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 4rem;
  width: 100%;
}